<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ParticipationReportServlet</servlet-name>
        <servlet-class>controller.ParticipationReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDBContext</servlet-name>
        <servlet-class>controller.TestDBContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleRequestServlet</servlet-name>
        <servlet-class>controller.RoleRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRoleServlet</servlet-name>
        <servlet-class>controller.ApproveRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubListServlet</servlet-name>
        <servlet-class>controller.ClubListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinClubServlet</servlet-name>
        <servlet-class>controller.JoinClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventListServlet</servlet-name>
        <servlet-class>controller.EventListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>controller.CreateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEventServlet</servlet-name>
        <servlet-class>controller.RegisterEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestDBContext</servlet-name>
        <url-pattern>/testdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipationReportServlet</servlet-name>
        <url-pattern>/participationreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleRequestServlet</servlet-name>
        <url-pattern>/RoleRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRoleServlet</servlet-name>
        <url-pattern>/ApproveRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubListServlet</servlet-name>
        <url-pattern>/ClubListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinClubServlet</servlet-name>
        <url-pattern>/JoinClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventListServlet</servlet-name>
        <url-pattern>/EventListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/CreateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEventServlet</servlet-name>
        <url-pattern>/RegisterEventServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
